div{
border: 2.5px solid lightpink;
font-family: Georgia, 'Times New Roman', Times, serif;
width: 50%;
height: 250px;
margin: 40PX;
padding: 40px;
box-sizing: border-box;
text-align: left;
text-align-last: center;
text-transform: lowercase;
/* word-spacing: 20px; */
/* letter-spacing: 20px; */
border-radius: 15px;
box-shadow: 8px 5px 10px  10px pink;


}