h1{
color: rebeccapurple;
background-color: rosybrown;
border-radius: 10px;
padding-left: 12px;
padding-bottom: 5px;
}
h3{

    color: chocolate;

}
p{

    background-color: burlywood;
    border-radius: 5px;
    padding: 5px;
    color: blue;
    
}