h1{

    width: 200px;
    height: 200px;
    border: 1px solid red;
    /* background: chocolate; */
    resize: both;
    overflow: hidden;
    /* resize property depended in overflow property */
    cursor: progress;

}