.Outline{

  /*  border: 10px solid gold;
    outline-width: 4px;
    outline-style: dashed;
    outline-color: greenyellow;
     

    /*
    shorthand 

    */
    border: 10px solid gold;
    outline: 4px solid rebeccapurple;


}